@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*,
* > * {
  font-family: "Comic Neue", cursive;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  color: #fff;
  background-color: #000;
}

a,
input {
  font-size: inherit;
  background: transparent;
}

input:focus {
  outline: 0;
}

.flex-c > * {
  @apply flex-1;
}
.fx {
  @apply flex items-center justify-center;
}
.w-full-c > * {
  @apply w-full;
}
.h-full-c > * {
  @apply h-full;
}
.aft::after,
.bef::before {
  content: "";
  position: absolute;
}
.no-bars::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0 35px #000 inset !important;
}
