@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  background-color: black;
  font-size: 13px;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: aqua;
  border-radius: 50px 0 0 50px;
}
@font-face {
  font-family: "kanit";
  src: url("../fonts/Kanit-Regular.ttf");
}
*,
* > * {
  font-family: "kanit", sans-serif;
}
a,
input {
  font-size: inherit;
  background: transparent;
}
.text-11 {
  @apply text-[11px] leading-3;
}
.text-10 {
  @apply text-[10px] leading-3;
}
.text-9 {
  @apply text-[9px] leading-3;
}
.isSticky {
  @apply bg-white shadow-lg rounded-b-2xl dark:shadow-black/60 pt-[33px] z-[22] dark:bg-c4;
}
.isSticky2 {
  @apply bg-c4 pt-[33px] z-[22] rounded-b-2xl dark:bg-black/40;
}
.isSticky2::after {
  @apply hidden dark:flex inset-0 -z-[2] rounded-b-2xl content-[""] absolute backdrop-blur-[24px] bg-[#00000084];
}
.isNotSticky {
  @apply bg-white pt-5 z-20 dark:bg-c4;
}
.isNotSticky2 {
  @apply bg-c4/20 pt-5 z-20 dark:bg-transparent;
}

input:focus {
  outline: 0;
}
.flex-c > * {
  @apply flex-1;
}
.fx {
  @apply flex items-center justify-center;
}
.w-full-c > * {
  @apply w-full;
}
.h-full-c > * {
  @apply h-full;
}
.aft::after,
.bef::before {
  content: "";
  position: absolute;
}
.no-bars::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0 35px #000 inset !important;
}

.fvsc {
  font-variant: small-caps;
}
.loader {
  animation: rotation 0.6s linear infinite;
}
.loaderColor {
  animation: rotationColor 0.6s linear infinite;
}
.fade {
  @apply relative overflow-hidden text-white/0;
  background-color: rgb(71, 85, 105 /0.2);
}
.fade::after {
  @apply absolute left-0 top-0 translate-x-[-300%] bg-gradient-to-r h-full w-4/5 from-white/0 to-white/0 dark:via-white/5 via-white/60;
  content: "";
  animation: fade 1.5s linear infinite;
}
.fade::before {
  content: "load";
}
.fade2::after {
  animation: fade 1.5s linear infinite;
}

@keyframes fade {
  0% {
    transform: translateX(-300%);
    left: 0%;
  }
  100% {
    transform: translateX(0%);
    left: 100%;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationColor {
  0% {
    transform: rotate(0deg);
    border-top-color: #06b6d4;
  }
  50% {
    border-top-color: #1a1fa4;
  }
  100% {
    transform: rotate(360deg);
    border-top-color: #06b6d4;
  }
}
